@mixin dashboard-login-view {

  .loginview {
    @include radial-gradient(circle at 50% 50%, scale-color($v-app-background-color, $lightness: -2%), scale-color($v-app-background-color, $lightness: -2% - valo-gradient-opacity()), $fallback: $v-app-background-color);
    padding-top: 0 !important;
    @include animation(valo-animate-in-fade 300ms 10ms backwards);

    > .v-loading-indicator {
      display: none !important;
    }
  }

	.v-filterselect-pagedtable-combobox{
		width: 70px !important;
	}
	
	.v-menubar-user-menu{
		color:white !important;
	}

	.valo-menu-item.selected{
		border-style: solid !important;
		border-width: 2px;

	
	}
	.valo-menu-item:focus{
		font-weight: bold !important;
		border-style: solid !important;
		border-width: 2px;
		text-decoration:none !important;
  		&::before{
    		width:100% !important;
  		}
	}
	
	.valo-menu-item:hover{
		font-weight: bold !important;
		border-style: solid !important;
		border-width: 2px;

		background-image:linear-gradient(
	to bottom right,
	rgb(255, 0, 0),
	rgb(100, 0, 0) 100px,
	rgb(50, 0, 0) 200px,
	rgb(150, 0, 0)
);

	}
	.valo-menu-badge {
		right: 33px   !important;
		color: white  !important;
		background-color:#434343 !important;
		width: 15px !important;
		text-align: center !important;
		top: 2px !important;
	}

	.valo-menu-item::before{
    		content: '' !important;
    		width:0px !important;
    		height:20px !important;
    		position:absolute !important;
    		top:0px !important;
    		background-color:#434343 !important;
    		z-index:-1 !important;
    		-webkit-transition: width 0.5s, ease-in-out !important;
    		-moz-transition: width 0.5s, ease-in-out !important;
    		-o-transition: width 0.5s,ease-in-out !important;
    		transition: width 0.5s, ease-in-out !important;

  	}
  	.valo-menu{
    width: auto;
    min-width: 0;
  	
  	}
  	.v-button-menu-padre-hijo{
  		background:#FFFFF3  !important;
  	}
	
	
	
	.valo-menu-item{
		
		color: white  !important;
  		text-decoration:none !important;
  		position:relative !important;
  		
	}

	
	
	.v-button-valo-menu-subtitle{
	 	border: none;
		position: relative;
		box-sizing: border-box;
		transition: all 500ms ease;
		font-weight: bold !important;
		border-style: solid !important;
		border-width: 1px;
		background: #FFFFFF;
	
	}


	.v-button-valo-menu-subtitle:before {
		 content:'';
		 position: absolute;
		 top: 0px;
		 left: 0px;
		 width: 0px;
		 height: 42px;
		 background: rgba(255,255,255,0.3);
		 border-radius: 5px;
		 transition: all 2s ease;
	}
	
	.v-button-valo-menu-subtitle:hover{
	    background-color:#434343 !important;
	    color: white  !important;

	}
	
	.v-button-valo-menu-subtitle:hover:before {
 		width: 100%;
	}

	
  .login-panel {
    @include valo-panel-style;
    padding: round($v-unit-size / 1.5) round($v-unit-size / 1.5);
    min-width: $v-font-size * 13;
    max-width: 90%;
    @include animation(valo-animate-in-slide-up 800ms 10ms backwards, valo-animate-in-fade 600ms 100ms backwards);

    > .v-spacing {
      height: round($v-unit-size / 2);
    }

    .labels {
      display: block;

      .h4 {
        margin: 0;
        vertical-align: baseline;
      }

      .h3 {
        margin: 0;
        float: right;
      }
    }

    .fields .v-icon {
      opacity: 0.3;
    }

    @include width-range($min: 0, $max: $v-unit-size * 14) {
      .labels .h3 {
        float: none;
        display: block;
        margin-top: .2em;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .fields {
        display: block;

        .v-slot {
          display: block;

          .v-widget {
            width: 100%;
          }
        }
      }
    }
  }

  .v-ui[width-range~="0-800px"] .login-panel {
    @include animation(animate-in-scale-up 500ms 10ms backwards, valo-animate-in-fade 300ms 100ms backwards);
  }

  .login-help {
    margin: 0 round($v-unit-size/4) !important;

    &.v-Notification-animate-in {
      @include animation(valo-animate-in-fade 500ms 1500ms backwards);
    }

    p span {
      // Mimic paragraphs (since notification styles are a bit limiting...)
      display: block;
      margin-top: .5em;

      a {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #888;
      }
    }
  }
}
